node_modules
node_modules/*

views
views/*

private
private/*

public/jquery
public/jquery/*

public/requirejs
public/requirejs/*

public/material-design-icons
public/material-design-icons/*

public/music
public/music/*

public/css
public/css/*

public/sass
public/sass/*

public/img
public/img/*
