node_modules
npm-debug.log

private

public/css

public/music
public/music/*

public/material-design-icons
public/material-design-icons/*

public/jquery
public/jquery/*

public/requirejs
public/requirejs/*
